/* ----------------------------------------------------------------

	404.scss

-----------------------------------------------------------------*/
.error-404 {
    position: relative; 
    padding: 7rem 0;

    @include media-breakpoint-down(lg) {
        padding: 0;
    }
}