
/* ----------------------------------------------------------------

	banner.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Banner
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for banner. Thanks!
-----------------------------------------------------------------*/


.banner {
    position: relative;
}

#about-banner {
    background-color: $theme-color;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
    padding-top: 10.125rem;
    padding-bottom: 10.125rem;
}
