/* ----------------------------------------------------------------

	Contact.scss

-----------------------------------------------------------------*/
/* ----------------------------------------------------------------

	Contact.scss

-----------------------------------------------------------------*/
#contact-info {
	padding: 7rem 0;

    h5 {
		font-family: $heading-font;
        font-size: 0.875rem;
        font-weight: 700;
		color: $white;
		margin-bottom: 1.325rem;
    }

	@include media-breakpoint-down(lg) {
		padding: 0;
	}
}

#contact-sidebar {
	label {
		font-family: $body-font;
		font-size: 0.875rem;
		color: #a0bcb2;
	}

	input {
		padding: 1rem;
	}
}

.contact {
	.contact-email {
		font-size: 2.25rem;
		font-family: $heading-font;
		font-weight: 400;
		color: $primary;
		line-height: 4rem;
		margin-bottom: 0;
	}

	.contact-title {
		font-size: $h1-font-size;
		font-family: $body-font;
		font-weight: 800;
		color: $secondary;
		line-height: 4rem;
	}

	.contact-icons {
		&.dark-contact a {
			color: white;
			font-size: 0.7rem;
		}

		&.light-contact a {
			color: $secondary;
			font-size: 0.875rem;
		}

		li {
			a {
				text-decoration: none;
				font-family: $body-font;
				line-height: 2rem;
				font-weight: 0.875rem;
				
				&:hover {
					color: $primary;
				}

				.contact-icon {
					color: $success;
					display: inline-block;
					margin-right: 1.2rem;
					font-size: 1.2rem;
					width: 1.8rem;
					text-align: center;
				}
			}
		}
	}
}