
/*-----------------------------------------------------------------------------------

	Form: form.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Form Styles
-----------------------------------------------------------------*/
#contact-info {
	padding: 7rem 0;

    h5 {
		font-family: $heading-font;
        font-size: 0.875rem;
        font-weight: 700;
		color: $white;
		margin-bottom: 1.325rem;
    }

	@include media-breakpoint-down(lg) {
		padding: 0;
	}
}

#contact-sidebar {
	label {
		font-size: 0.875rem;
		color: #a0bcb2;
	}
}