
/*-----------------------------------------------------------------------------------

	Shortcodes: feature-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Featured Boxes
-----------------------------------------------------------------*/
.fbox {
	margin-bottom: 1.875rem;

	.fbox-icon {
		img {
			min-width: 1.5rem;
		}
	}

	p {
		color: #a1a1a3;
	}
}