/*-----------------------------------------------------------------------------------

	Shortcodes: timeline.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Timeline Styles
-----------------------------------------------------------------*/
.event-date {
    font-family: $heading-font;
    font-size: 1.75rem;
    font-weight: 200;
    color: $success;
    font-style: italic;
}